

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

h1 {
    color:#FFC300;
    font-family: abril fontface;
    font-size: 75px;
}

p {
    
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
   

}


