

div #vistca{
  
  text-align: center;
  margin: 5%;
}

img {
  opacity: 0.9;
  display: block;
  width: 40%;
  height: 20%;
  display:block;
  margin:auto;
}

button{
  margin:2%;
  
}

h3{
  color:steelblue;
  font-size: 18px;
  text-transform: uppercase;
  b

}
h1{
  color: #FFC300;
  font-family: abril fontface;
  font-size: 75px;
  text-align: center;
}

